/* === COLORS === */
$primary_tomato: hsl(4, 100%, 67%);

$neutral_dark_slate_grey: hsl(234, 29%, 20%);
$neutral_charcoal_grey: hsl(235, 18%, 26%);
$neutral_grey: hsl(231, 7%, 60%);
$neutral_white: hsl(0, 0%, 100%);

/* === FONTS === */
$project_font: "Roboto", sans-serif;
