@import "partials/mixins";
@import "partials/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $project_font;
}

main {
  max-width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $neutral_white;

  .image-section {
    .image2 {
      display: none;
    }
  }

  .form-section {
    padding: 30px 20px;

    h1 {
      font-size: 34px;
      color: $neutral_dark_slate_grey;
      padding-bottom: 15px;
    }

    p {
      color: $neutral_dark_slate_grey;
    }

    .service-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      padding: 20px 0 45px 0;
      row-gap: 10px;

      .individual-service {
        @include serviceStyle;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      position: relative;

      .label-text {
        position: absolute;
        font-size: 12px;
        font-weight: bold;
        color: $primary_tomato;
        top: 0;
        right: 0;
        display: none;
      }

      label {
        padding-bottom: 8px;
        font-size: 12px;
        color: $neutral_dark_slate_grey;
        font-weight: bold;
      }

      input[type="email"] {
        @include inputStyle;
        margin-bottom: 20px;
        border: 1px solid $neutral_grey;
        color: $neutral_grey;
        font-weight: 500;
      }

      .error-message {
        border: 1px solid $primary_tomato !important;
        background-color: hsla(4, 100%, 67%, 0.168);
        &::placeholder {
          color: $primary_tomato;
        }
      }
    }

    input[type="submit"] {
      @include inputStyle;
      border: none;
      background-color: $neutral_dark_slate_grey;
      color: $neutral_white;
      font-weight: bold;

      &:hover {
        background: linear-gradient(
          41deg,
          rgba(255, 83, 119, 1) 0%,
          rgba(255, 104, 65, 1) 79%
        );
      }
    }
  }

  .success-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    display: none;

    img {
      width: 55px;
      margin-bottom: 35px;
    }

    h2 {
      color: $neutral_dark_slate_grey;
      font-size: 32px;
      margin-bottom: 20px;
    }

    p {
      color: $neutral_dark_slate_grey;
      margin-bottom: 245px;

      span {
        font-weight: bold;
      }
    }

    button {
      @include inputStyle;
      padding: 20px;
      align-content: end;
      width: 100%;
      border: none;
      background-color: $neutral_dark_slate_grey;
      color: $neutral_white;
      font-weight: bold;

      &:hover {
        background: linear-gradient(
          41deg,
          rgba(255, 83, 119, 1) 0%,
          rgba(255, 104, 65, 1) 79%
        );
      }
    }
  }
}

@media only screen and (min-width: 376px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: $neutral_dark_slate_grey;
  }

  main {
    border-radius: 15px;
    .image-section {
      img {
        border-radius: 15px;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {
  main {
    max-width: 720px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 15px;
    padding: 25px;

    .image-section {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;

      .image1 {
        display: none;
      }

      .image2 {
        display: flex;
        width: 100%;
        height: auto;
      }
    }

    .form-section {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      width: 100%;

      h1 {
        font-size: 45px;
      }
    }

    .success-section {
      min-height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 30px;
      display: none;

      grid-column: 2;

      img {
        width: 55px;
        margin-bottom: 35px;
      }

      h2 {
        color: $neutral_dark_slate_grey;
        font-size: 32px;
        margin-bottom: 20px;
      }

      p {
        color: $neutral_dark_slate_grey;
        margin-bottom: 45px;
      }
    }
  }
}
